* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(32, 32, 36);
    color: white;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

/* menu */
.menu {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    height: 55px;
}

.menu__nombre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 36px;
    font-weight: bold;
}

.menu__navigation {
    margin-right: 10%;
}

.menu__navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

.menu__navigation li {
    height: 80%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu__navigation li:hover {
    background: rgb(50, 50, 56);
}

.menu__navigation a {
    text-decoration: none;
    color: white;
    margin: 25px;
    font-size: 18px;
}

/* presentacion */
.presentacion {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "merienda", cursive;
}

.presentacion__yo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#1497BE, #1C2AEC);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 5s linear infinite;
}

@keyframes text {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}


.presentacion__yo p {
    margin: 10px;
}

.presentacion__yo-titulo {
    font-size: 80px;
    font-weight: bold;
}

.presentacion__yo-p {
    font-size: 24px;
    color: white;
}

.presentacion__botones button{
    font-family: 'Merienda', cursive;
    border: none;
    background: linear-gradient(to right, #cb232c, #ce1d61);
    color: white;
    font-size: 16px;
    width: 180px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    animation: text 5s linear infinite;
    transition: 0.2s ease;
}

.presentacion__botones button:hover{
    box-shadow: 0px 0px 15px rgba(256, 256, 256, 0.3);
}
/* quien soy */
.quiensoy {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    Font-family: Arial, Helvetica Neue, Helvetica, sans-se;
}

.quiensoy__imagen img {
    width: 400px;
    transform: rotate(-270deg);
    border-radius: 10px;
}

.quiensoy__informacion {
    width: 400px;
}

.quiensoy__informacion-subtitulo {
    font-size: 28px;
    margin-bottom: 30px;
}

.quiensoy__informacion-p {
    font-size: 20px;
}



/* skills */
.skills {
    border: 1px solid white;

}

.skills__titulo {
    border: 1px solid red;
    text-align: center;
}

.skills__titulo p {
    font-size: 30px;
}

.skills__conteiner {
    border: 1px solid green;
    display: flex;
}

.skills__conteiner-grupo {
    border: 1px solid white;
    width: 250px;
    height: 190px;
}

.skills__conteiner-grupo img {
    width: 100px;
    display: none;
}

/* proyectos */
.proyectos {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 35px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 100px;
}
.titulo-proyecto {
    grid-column: 3 span;
    text-align: center;
    margin-bottom: 60px;
}

.proyectos-grupo {
    display: flex;
    flex-direction: column;
    position: relative; 
    /* padding-top: 20px; */
}

.proyectos-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    transition:  0.3s ease;
}

.imagenes {
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s ease;
}

.proyectos-descripcion {
    margin-top: 20px;
    margin-left: 5%;
    position: absolute; 
    color: white;
    font-size: 14px;
    opacity: 0;
}

.proyectos-descripcion a{
    color: white;
    margin-left: 5px;
    font-size: 25px;
}

.proyectos-descripcion a:hover {
    font-size: 30px;
}

.proyectos-descripcion p{
    font-size: 19px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

/* .proyectos-grupo:hover .proyectos-imagen {
    opacity: 0;
} */

.proyectos-grupo:hover .imagenes {
    opacity: 0;
}

.proyectos-grupo:hover .proyectos-descripcion {
    opacity: 1;
}

/* despedida */

.despedida {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 20px;
}

/* contacto */

.contacto {
    display: block;
    text-align: center;
    height: 25vh;
    padding-top: 40px;
    font-size: 20px;
}
.contacto p {
    margin: 5px;
}

.contacto .iconos{
    margin-top: 20px;
    height: 10vh;
    padding-top:10px ;
}
.contacto .iconos  a{
    font-size: 40px;
    margin: 10px;
    color: white;
    transition: transform 0.3s ease;
}

.contacto .iconos a:hover {
    font-size: 60px;
}

@media (max-width: 768px) {
    /* Agrega aquí los estilos que deseas aplicar para pantallas más pequeñas, como celulares */

.menu-title {
    border: 1px solid white;
    display: block;
    width: auto;
}

.navigation-menu {
    display: none;
}


}